* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #24353f;
  font-family: Arial, sans-serif;
}

#item {
  margin-top: 60px;
  margin-left: 390px;
  margin-right: 390px;
  padding-left: 15px;
  padding-right: 15px;
}

#item2 {
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
  margin-left: 138.75px;
  margin-right: 138.75px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;

  align-items: center;
}

h1 {
  color: #189bb1;
}

.anchor {
  text-decoration: none;
}

.anchor:hover {
  text-decoration: underline;
}

.paragraph {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: white;
}

.paragraph a {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: white;
}

.form-control {
  background-color: #24353f;
  border: 1px solid white;
  color: #fff;
  border-radius: 5px;
}

.form-control::placeholder {
  color: #a0a0a0;
}

.form-control:focus {
  background-color: #24353f;
  color: #fff;
  border-color: #189bb1;
  outline: none;
  box-shadow: none;
}

.btnn {
  text-decoration: none;
  color: #189bb1;
}

.btnn:hover {
  color: white;
}

#box {
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

#nav {
  background-color: #24353f !important;
}

#container {
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

#margen {
  margin-left: 90px;
  font-size: 25px;
  line-height: 38px;
  font-weight: 400;
  color: white;
}

ul li {
  margin-right: 90px;
  padding-bottom: 10px;
}

#userName {
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-top: 60px;
  margin-top: 259.375px;
  margin-bottom: 259.375px;
  margin-left: 238.75px;
  margin-right: 238.75px;
}
